* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 820px;
    width: 100%;
    margin-top: 24px;
}

.intro-panel {
    margin-top: 20px;
    margin-right: 10px;
    height: 80%;
    border-radius: 14px;
    background-color: #b6cace;
}

.profile-pic {
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-logo {
    background-image: url("/Assets/images/icon.png");
    background-size: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}


.intro-right-panel {
    margin-left: 10px;
    height: 90%;
    width: 64%;
    background-color: transparent;
    border-radius: 12px;
}

.intro-media-link {
    margin-top: 30px;
    height: 70px;
    width: 100%;
    transform: translateY(-50%); /* Centers the container vertically */
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: center;
}

.intro-media-link ul {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around; /* Center icons vertically */
    align-items: center; /* Center icons horizontally */
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.intro-media-link ul li {
    margin: 10px 0; /* Add spacing between icons */
}

.intro-media-link ul li a i {
    font-size: 24px; /* Adjust icon size */
    color: #333; /* Icon color */
    transition: color 0.3s; /* Smooth hover effect */
}

.intro-media-link ul li a i:hover {
    color: #0073e6; /* Change color on hover */
}

.name-by {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#name-ho {
    align-self: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}

p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}

.me-in-text p {
    line-height: 1.6;
    margin: 0px 8px;
    font-size: 18px;
    line-height: 1.6;
    hyphens: auto;
  }

  .intro-right-panel h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 6px 8px;
  }